<div style="width: 100%; height: 600px; display: flex; flex-direction: column; align-items: center;">
  <div style="display: flex; align-items: center; gap: 10px; margin-bottom: 10px;">
    <p-toggle-switch [(ngModel)]="checked"></p-toggle-switch>
    <span>{{ checked ? 'Diagram bekapcsolva' : 'Diagram kikapcsolva' }}</span>
  </div>

  <canvas baseChart
          [data]="lineChartData"
          [options]="lineChartOptions"
          [type]="lineChartType"
          style="width: 100%; height: 100%; max-height: 500px;">
  </canvas>
</div>
